{% extends 'base.html' %}
{% block content %}
<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
          <header class="mb-4"><h4 class="card-title">Forgot Password</h4></header>
          <form method = "POST" action = "{% url 'forgot_password' %}">
                 {% csrf_token %}
                  <div class="form-group">
                    <label>Your Email</label>
                    <input type="email" name= "email" class="form-control" placeholder="your_email@example.com">
                </div>
                  <div class="d-grid gap-2 mt-4">
                    <button class="primary-btn text-center" type="submit">Submit</button>
                    
                  </div> <!-- form-group// -->      
                      
              </form>
          </article><!-- card-body.// -->
      </div> <!-- card .// -->
      <p class="text-center mt-4">Don't Have Account? <a href="{% url 'register' %}">Create One</a></p>
      <br><br>
{% endblock content %}